<div class="form-body">
<h1> Log in here! </h1>


<%= form_tag '/sessions', method: :post do %>
  <span class="form"><%= label_tag :username%></span>
  <span class="text-field"><%= text_field_tag :username %></span>

  <br>
  <br>

  <span class="form"><%= label_tag :password %></span>
  <span class="text-field"><%= password_field_tag :password %></span>

  <br>
  <br>

  <%= submit_tag "Log In", class: "button" %>


<% end %>

</div>
